[2019-06-08 04:54] lloan opened #1 "Documentation needs to be updated"
All docs require updating.

[2019-06-14 07:23] lloan opened #5 "Component: Navigation"
Component involves creating the navigation for the hero section. This will require you test mobile responsiveness AND creating the mobile version of the menu. Its a bit more involved than other components. You will utilize a lot of custom CSS and some JavaScript. We don't have a 'on scroll' state for the desktop navigation, but that can be part of v2 enhancements. For now, the focus is on getting

[2019-06-14 07:28] lloan opened #6 "Component: Social Media Floating Bar (right)"
This component can be found on the hero component, it will float on the right hand side of the website. That means the position for this component is fixed on the screen and should align with the Contact Floating Bar (left). If you take this component, you **should** take that component as well. The icons found in this component can be pulled from FontAwesome - which our project is already using.

[2019-06-14 07:32] lloan opened #7 "Component: Contact Floating Bar (left)"
This component is almost identical to #6

This component will require that you create a fix component that floats on the left hand side of the desktop version of the site. Icons can be pulled from FontAwesome, which our project is currently using. The phone icon should be linking to the phone number found in the footer, the email icon should open an email client pointing to the email found in the

[2019-06-14 07:38] lloan commented on #1
We might benefit from breaking this in to multiple issues, one for each documentation item that needs updating. The priority, in comparison to the components is much lower, but these would be great issues for new contributors to tackle.

[2019-06-14 07:44] lloan opened #8 "Component: Hero Section Event"
This component has a couple of steps.

First, you need to create the actual component, so that you can pass in the data once you have it.
Second, you need to make an API call to Meetup.com to get the latest event. So which event is coming up soon? That's the event you need to get. You need the following data points:
- Date
- Time
- Title
- URL for event on Meetup.com (for button to link to)

For n

[2019-06-14 07:51] lloan opened #9 "Component: Slogan"
Great component for new contributors to work on or get experience with the workflow for this project. This component is essentially a whole section with a custom background. Initially, it was considered to make 'Community and Developer Excellence' to be set as text, but for the sake of simplicity and getting v1 out the door, let's use the image with the text embedded. Make sure the height of the c

[2019-06-14 08:48] lloan opened #10 "Component: Mission"
This component is pretty simple. For v1, you can use 2 images for the right side. 1 layer is the actual image and the second layer is the cutout for IE. These can be found here: `static/images/mobile/ie-background` and `static/images/mobile/ie-cutout`

To get the padding required on both sides, Calcite uses 24 columns. You'll want your content to be within 20 columns and you can use `pre-2` to mov

[2019-06-14 08:51] lloan opened #11 "Component: Footer"
Initial component to build other components off of.

This component shows you how to import images, use Calcite, interact with SASS files and structure your component file.

File can be found here: `src/components/footer.js`

[2019-06-14 08:59] lloan opened #12 "Component: Drag Component"
The drag component is essentially a component with a subtle animation that lets users know that the section it shows up in can be dragged left to right. This component does NOT need to be able to interact with the actual section it is used in. It just needs to render the asset and have a subtle pulse animation. This is the most basic implementation of this idea. @johnathantng and @kellytlam  have

[2019-06-14 09:04] lloan opened #13 "Component: Goals"
This component is pretty simple. For v1, you can use 1 image for the left side. This image can be found here: `static/images/desktop/goals-section-gradient` - can provide the full asset without clipping if requested.

To get the padding required on both sides, Calcite uses 24 columns. You'll want your content to be within 20 columns and you can use pre-2 to move your content 2 columns from the lef

[2019-06-14 09:42] lloan opened #16 "Component: Blog Post"
We need to create a blog post component that can be used to render blog posts from an API call. The API will return all the information required for each post:
- image url
- category
- title
- author
- date published
- short description
- slug (used for identification)

You can initially create a grid of 4 columns and 2 rows of blog posts - these two rows will act as one section that will be dragg

[2019-06-14 09:48] lloan opened #17 "Component: Sponsorship"
Omit the image on the left. This section requires the use of gradients. Gradient information comes from the `sass/base/colors.scss`. The classes `yellow-red` and `blue-green` are available for use.

The buttons should be configured to log to console when clicked. The message logged to the console should be the title of the button. These will then be, in a separate tasks, be connected to a payment

[2019-06-14 09:54] lloan opened #18 "Component: Sponsors"
This component has a light background that can be found within the `static` folder. There should be 4 columns for each row. There can initially be 1 row, the second row in the image is for informational purposes. Each column should be responsive and equal in width to the other columns - Calcite allows for this quite easily. Search in the documentation under Grid > Groups

![image](https://user-ima

[2019-06-14 10:17] lloan opened #19 "Component: Success Stories"
This component has a background image that can be found in the `static` directory. The social media icons can be omitted for v1. In the future, it would be a great enhancement, to include social media information for the member currently being featured. The way this component should work is that it takes a JS object that has x number of users with their information in it and render one on random o

[2019-06-14 10:30] lloan opened #20 "Component: Community"
This component has a light background, image can be found within `static`

Images can vary in size, as long as they're not bigger than 80% the height of the component. The spacing between each image will be the same, make sure to check out the spec sheet. This section needs to be draggable from left to right, etc. Don't worry about the drag element, that is addressed in #12

Images can come from a

[2019-06-14 10:45] lloan opened #21 "Component: Events"
This is a complex component. It has a couple of moving parts that make it complex.

There are 3 parts to this component:
- series events (omit for v1)
- single events (omit presented by text)
- event timeline

Data you need from Meetup.com for each event:
- date
- time
- title
- link to event

This will require that you check Meetup to see if we have a series going on. However, for v1, we might ju

[2019-06-14 10:49] lloan opened #22 "Component: Join"
Simple component with a background and big button in the center. Button links to the meetup.com page for IESD to join us there - should open a new tab. We don't want to take the user away from the site or lose their place on the site. Image can be found under the `static` folder.

![image](https://user-images.githubusercontent.com/3924990/59504227-5a4ff800-8e57-11e9-8e0b-3988cd83e814.png)

[2019-06-14 11:06] lloan opened #23 "Component: leadership"
This component will be redesigned in the future, for now, this is our v1 for go-live.

This component will have two rows, one of organizers/contributors/etc and another for speakers that have given talks at IESD. The drag element will be addressed here: #12 - users will be pulled from an array of objects. Each object will have the user name, title and image. One array for speakers and another for

[2019-06-14 17:18] tonynguyen111997 commented on #11
https://i.imgur.com/PVBwmRn.png

Not a big issue, but the console is saying you used `class` instead of `className` for some of your elements.

[2019-06-14 17:40] lloan commented on #11
Thanks @tonynguyen111997! Yep, that's one of the last components I added from a generator. I should have paid closer attention. Thanks!

[2019-06-14 21:24] lloan commented on #11
@tonynguyen111997 thanks again for catching that, I caught a few other items as well, fixed those right up. Silly enough, i had nested ul tags within paragraph tags, that's been fixed. I've made the changes and merged in to dev branch.

[2019-06-15 08:44] usrbom commented on #18
I would like to try this. Is this to be added below the Events Section?

[2019-06-15 18:20] tonynguyen111997 commented on #18
Hi @usrbom , I believe @elyselam is currently working on this component already. You'll have to talk to her about this component.

[2019-06-15 18:54] tonynguyen111997 commented on #21
Link to the meetup api

[2019-06-15 19:57] usrbom commented on #18
Oh It's alright, I will pick up something else.

[2019-06-16 17:10] tonynguyen111997 commented on #9
Changes have been merged into dev. I'm going to go ahead and close this issue. Great work @kellytlam!

[2019-06-16 17:10] #9 closed

[2019-06-17 16:48] tonynguyen111997 commented on #10
This component is done. Closing issue.

[2019-06-17 16:48] #10 closed

[2019-06-18 00:01] rurru commented on #16
Interested in doing this one!

[2019-06-18 01:18] tonynguyen111997 commented on #16
Sounds good @rurru! I'll go ahead and assign this to you.

[2019-06-18 01:22] johnathantng commented on #13
Component is complete and has been merged. Closing issue.

[2019-06-18 01:22] #13 closed

[2019-06-18 14:25] chrispierrelouis26 commented on #17
Interested in working on this component.

[2019-06-18 14:39] lloan opened #28 "Produce Higher Resolution Assets for Goals and Mission Component"
Need higher res assets for mission and goals section. As other sections are completed, they will most likely require the same issue.

[2019-06-19 01:43] tonynguyen111997 opened #29 "Component: Hero Section"
This component **DOES NOT** include the navigation, side bars and event section. For the navigation, side bars and event section, just leave a placeholder comment.

This component only needs the background image that can be found at `static/images/desktop`.

![image](https://user-images.githubusercontent.com/36907562/59729769-ce422580-91f4-11e9-9d4d-a635cd70b657.png)

For mobile devices:

![image]

[2019-06-19 18:23] spfrood opened #30 "Safari browser issue"
Issue with going to the site https://www.ie-sd.com
Does not happen when going directly to https://ie-sd.com

Screenshot of error attached.
![Screen Shot 2019-06-19 at 11 19 45 AM](https://user-images.githubusercontent.com/8482715/59790361-a3071700-9284-11e9-9c9b-f878a2cca951.png)

[2019-06-19 19:00] dhuan008 commented on #30
Similar issue using Edge.
![Capture](https://user-images.githubusercontent.com/33335681/59791896-edd65e00-9287-11e9-91d6-efc94547cac5.PNG)

And on Firefox for first access
![Capture2](https://user-images.githubusercontent.com/33335681/59792729-b2d52a00-9289-11e9-89c6-25ba3c8b215f.PNG)

[2019-06-19 22:54] dhuan008 commented on #29
I'm interested in working on this!

[2019-06-20 04:09] elyselam commented on #18
@lloan in terms of the images, do i keep those the same?

[2019-06-20 04:17] Holyoke commented on #21
I've investigated the authorization flow, and there are caveats. The meetup api does return results, which you can test on the console. They're stored in a results array, and we can derive event data fine to populate the components - the get request would be like

[code]
and the response looks like this
![image](https://user-images.githubusercontent.com/6300995/59818050-27828580-92d7-11e9-8cb5-a90

[2019-06-20 07:01] lloan commented on #18
@elyselam yes, leave those as placeholders.

[2019-06-20 09:48] tonynguyen111997 opened #31 "Gather Success Stories information"
Need to collect information for success stories.

I created a file called `successStoriesData.js` that will be a part of the PR for issue #19 Component: Success Stories. The file has a JavaScript object that contains the following properties:

- imageURL (600x650 width x height)
- name
- title
- excerpt
- linkToStory

![image](https://user-images.githubusercontent.com/36907562/59839262-3718c300-93

[2019-06-21 03:18] Holyoke commented on #30
I'm not able to reproduce this on a Safari Browser Version 12.1.1 (12607.2.6.1.2), on OSX 10.12.6 (Sierra). I visited https://ie-sd.com and report the project is currently live with no connection warnings.

[2019-06-21 06:19] lloan commented on #30
If we can get 1 more test that passes, we can close this.

[2019-06-22 18:03] Holyoke commented on #30
I'm able to reproduce this on the iPhone Safari Browser, iOS 11 but only through clicking a pop-up link within another app. For example, accessing the website through the Slack app by clicking a link - the internal frame browser runs into that connection issue.

I've collected more certificate information, and I'll post that in the Slack for further discussion.

![Photo Jun 22, 10 52 02 AM](https:

[2019-06-22 19:04] lloan commented on #30
Does the link have www or no www? I know someone pointed out that could be the issue. If so, that's a simple fix via nginx

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jason Ebueng <notifications@github.com>
Sent: Saturday, June 22, 2019 11:03:37 AM
To: inland-empire-software-development/main
Cc: lloan alas; Comment
Subject: Re: [inland-empire-software-de

[2019-06-22 22:35] lloan commented on #30
Updating the server at the moment, will then take a look at NGINX / Certbot.

[2019-06-22 22:44] lloan commented on #30
I went ahead and updated the certificate and the nginx configuration. @Holyoke could you test again - make sure to clear your cache :D - thanks!

[2019-06-22 23:49] lloan commented on #30
Closing this out as I can't reproduce it. I had two people test this today and they could not reproduce the error either. Reopen this issue if you can reproduce it and provide the URL + screenshot.

Thanks!

[2019-06-22 23:49] #30 closed

[2019-06-23 03:01] rurru opened #33 "Blog Post Backend API"
Backend blog functionality needs to be implemented with an API that can be used to access and display blog posts.  Post information that should be made available to the frontend component is listed in [#16](https://github.com/inland-empire-software-development/main/issues/16), which requires this item for completion.

[2019-06-24 19:12] tonynguyen111997 opened #35 "Component: Error Boundaries"
Create Error Boundary class components that will provide components that make API requests a fallback UI.

It would be nice to have the ErrorBoundary component accept a prop that lets you display a custom error message. Such as `<ErrorBoundary message={'Something went wrong'} />`

You can read up more about this at https://reactjs.org/docs/error-boundaries.html

This can be added after version 1.0

[2019-07-02 15:38] ulisesgomez120 commented on #12
Hello, I'd like to work on this.

[2019-07-02 15:41] tonynguyen111997 commented on #12
Hi @ulisesgomez120, unfortunately this component is already assigned to @VelazquezLuis. You'll have to discuss this with @VelazquezLuis.

[2019-07-02 16:19] ulisesgomez120 commented on #12
@tonynguyen111997 I'll reach out to him. In the meantime, is there anything else that I can help with?

[2019-07-04 18:54] tonynguyen111997 commented on #29
This component is finished. Great work David!

[2019-07-04 18:54] #29 closed

[2019-07-05 20:54] tonynguyen111997 commented on #22
Great work on this component, Kelly. Since this component is done, I'm going to go ahead and close this issue.

[2019-07-05 20:54] #22 closed

[2019-07-05 20:56] tonynguyen111997 commented on #11
Great work on this, Lloan. Going to close this issue. Keep up the hard work!

[2019-07-05 20:56] #11 closed

[2019-07-06 00:31] tonynguyen111997 opened #41 "Navbar enhancements"
Navbar on mobile screen shouldn't allow scrolling when menu is open.

Also, code needs to be cleaned up.

Navbar is also missing image at top left.
Menu needs arrow to indicate dropdown.

[2019-07-07 09:32] tonynguyen111997 commented on #5
The initial navbar component has been merged into dev, and is considered "done" for our MVP. Navbar enhancements are currently being worked on in issue #41.

Going to close this issue. Reopen if you think it shouldn't be closed.

[2019-07-07 09:32] #5 closed

[2019-07-07 18:32] lloan commented on #33
@rurru

Can you please try the url: https://blog.ie-sd.com/wp-json/wp/v2/posts

We should take a look at what data we need to create the blog components (articles that get rendered) so we can extend the API to serve that.

[2019-07-07 22:54] rurru commented on #33
Sure thing--the data comes up easily enough,and it looks like most of the
data we need is already baked into the api (
https://developer.wordpress.com/docs/api/1.1/get/sites/%24site/posts/%24post_ID/).
I can hook up what I've written so far to grab the sample data and see how
it looks, which should give a better idea of any extensions that might be
needed as well.

On Sun, Jul 7, 2019 at 11:33 AM

[2019-07-11 09:48] johnathantng commented on #8
This component has been created. Let's close this issue.

[2019-07-11 20:30] lloan opened #46 "Missing logo image on mobile (Navbar)"
@tonynguyen111997  Can we add the missing logo on mobile so the head section isn't so bare?

[2019-07-11 22:23] tonynguyen111997 commented on #46
I'm currently in the process of adding this 👍 . The issue of the missing logo is also referenced in issue #41

[2019-07-12 01:05] johnathantng opened #48 "Loading indicator component for API calls"
This issue does **NOT INCLUDE** implementing the LoadingIndicator component. Only the creation of the component.

EDIT: This component will be used for the events API

If the user has slow internet speeds, it is important to provide them with feedback that tells them that the site is currently retrieving information to be displayed.

Calcite does provide a loading indicator in `main/sass/vendors/c

[2019-07-12 01:15] mlatini commented on #48
I’d like to work on this if possible. Can I just assign it to myself?

[2019-07-12 01:46] lloan commented on #48
@johnathantng - I'm assuming this is going to be built for the use of the events API loading?
@mlatini - should be fine, I don't think anyone is assigned to this yet.

[2019-07-12 02:01] johnathantng commented on #48
@lloan Yes, this will be for the events API.

[2019-07-12 13:31] mlatini commented on #48
Is there going to be an issue for the implementation as well or is someone already working on that? I browsed the issues and didn’t see anything but I may have missed it. I would be interested in working on the implementation as well if possible.

[2019-07-12 16:12] dsacosta commented on #16
@rurru please update me on the status of this and also if you need any assistance.

[2019-07-12 16:13] dsacosta commented on #17
@chrispierrelouis26 please update me on the status of this issue and also if you need any assistance.

[2019-07-12 16:22] dsacosta commented on #20
@lloan let me know if you need me to assign this to someone that has expressed interest in helping but has not been assigned any work.

[2019-07-12 16:36] dsacosta commented on #23
@amacbain1 let me know the status of this issue and also if you need any assistane.

[2019-07-12 16:37] dsacosta commented on #7
@yzhan407 let me know the status of this issue and if you need any help.

[2019-07-12 16:49] chrispierrelouis26 commented on #17
Good morning david , I have a few things I need to change on my component style wise and then I should be complete. I have a phone interview Tuesday so Iv been studying for that . I will have my component complete this weekend.

Sent from my iPhone

[2019-07-12 19:19] yzhan407 commented on #7
Hi. I have pushed a new branch and the only thing left is to make a pull request. I am having a little bit of problem with making a PR. I will figure that out soon.

[2019-07-13 02:40] tonynguyen111997 opened #50 "Violation due to non-passive event listener"
Not sure if this is an issue that needs to be resolved or if it can be resolved. When you open the console log it says there are 25 violations.

![image](https://user-images.githubusercontent.com/36907562/61166001-7b4e4c00-a4dc-11e9-801d-877e5ea473bc.png)

If you remove the google map from the footer

![image](https://user-images.githubusercontent.com/36907562/61165975-58239c80-a4dc-11e9-907b-19f7

[2019-07-13 03:23] rurru commented on #16
@dsacosta Expecting to finish by the end of the weekend.  Have been stuck on converting the incoming JSON data into an array for display--once that's complete, the component will be finished shortly.

[2019-07-13 16:24] amacbain1 commented on #23
Sorry for my poor response time @dsacosta. I think it's pretty much finished. .

[2019-07-13 19:54] dsacosta commented on #23
@amacbain1 no worries, thank you for the update!

[2019-07-13 19:55] dsacosta commented on #7
@yzhan407 Thank you for the update!

[2019-07-13 23:05] dsacosta commented on #6
@yzhan407 Please update me on this issue and let me know if you need help.

[2019-07-13 23:06] dsacosta commented on #16
@rurru Thank you for the update!

[2019-07-13 23:07] dsacosta commented on #17
@chrispierrelouis26 Thank you for the update!

[2019-07-13 23:08] dsacosta commented on #35
@mlatini Hi Matthew, please update me on this issue and let me know if you need any help.

[2019-07-13 23:10] dsacosta commented on #21
@Holyoke Hey Jason, please update me on this issue and let me know if you need any help.

[2019-07-13 23:20] dsacosta commented on #48
@mlatini Please let me know the status of this project and let me know if you need any help.

[2019-07-13 23:35] mlatini commented on #35
I tried to implement error boundaries but was running into some nonsensical challenges. I finally discovered that it's related to server side rendering, which isn't supported by Error Boundaries.

It seems that the options are manually putting a try/catch into every render() method or using babel-plugin-try-catch-wrapper to automate the process.

I'm open to suggestions.

https://github.com/zeit/n

[2019-07-13 23:55] dsacosta commented on #35
@VelazquezLuis Hey Luis, do you have any suggestions for Matthew?

[2019-07-14 00:59] mlatini commented on #48
I have a working component, at least ready for an initial review, but had a hard drive crash yesterday. Recovering from backup so I'll push what I have once that's done.

[2019-07-14 09:24] yzhan407 commented on #6
Hi
this one is the same as the left floating bar. I made a PR about those two components.  In other words, if there is no problem with that PR, this one is also finshed.

[2019-07-15 05:11] VelazquezLuis commented on #35
Hi @mlatini  Are you still having issues?  Error Boundary classes can be tricky. on which branch are you working on? I would like to see the code and see to whom I can resolve this with.

[2019-07-15 16:32] paulcummings01 commented on #1
I'm willing to work on this. What types of documentation updates are needed?

[2019-07-15 22:37] amacbain1 opened #54 "Leadership component: photos & titles for past speaker"
Some profile pictures for past speakers are needed, as well as preferred titles. A placeholder iesd logo currently appears if no photo is provided. Also, I have included the name of the talk in place of a title.
![2019-07-15](https://user-images.githubusercontent.com/37091030/61253598-6230df80-a716-11e9-9db5-bf74d44691dc.png)

[2019-07-16 19:22] dsacosta commented on #16
@rurru Let me know if you need any assistance with converting the incoming JSON data.

[2019-07-17 01:59] ulisesgomez120 commented on #50
@tonynguyen111997 I looked around and read that you can get around it by unchecking Use Touch Events in you dev tools.

[2019-07-17 05:48] rurru commented on #16
@dsacosta Thanks for checking in--the data import/conversion turned out to be simple, so it's just down to making the component draggable and working out a CSS issue with the thumbnail image display.  I've posted details in the slack channel.

[2019-07-17 08:15] lloan commented on #8
@johnathantng  Can we make sure this looks good on mobile? Does it look like this on your end? Only thing it needs is some space at the bottom - between the black section (slogan) and the button.

![image](https://user-images.githubusercontent.com/3924990/61358936-3efa5300-a830-11e9-9b36-11620ab4ff41.png)

[2019-07-17 21:26] mlatini commented on #48
Created branch loadingIndicatorMatthew off dev branch and pushed to remote.

The loading indicator is working based off main/sass/vendors/calcite/img/loader-ie9.gif, which I moved to static/images/loader-ie9.gif

Created a few components for testing, which are listed in the commit and which I will remove before PR.

Added LoadingIndicator component to pages/index.js for testing, which will be remo

[2019-07-17 23:57] mlatini commented on #35
Hi @VelazquezLuis. Sorry for the delay. My hard drive crashed on my laptop and I was down for a couple days while I restored from backup. I did lose a couple of things including error boundaries code. I can re-write it but from, everything I've read, error boundaries won't work with SSR. I, _believe_, we're using SSR?

[2019-07-18 05:51] dsacosta commented on #48
@VelazquezLuis Can you review this?

[2019-07-18 05:59] VelazquezLuis commented on #35
sorry to hear that. I'm positive we are since we are using next.js (https://nextjs.org/features/server-side-rendering). I will investigate further

[2019-07-18 06:17] VelazquezLuis commented on #48
Thank you will take a look.

[2019-07-19 01:48] dsacosta commented on #7
@yzhan407 Hi Yifan. Did you figure out how to make the PR? Let me know if you need any help.

[2019-07-19 03:21] rvilleda851 commented on #1
how would I get started

[2019-07-19 07:53] yzhan407 commented on #7
Hi,
  I made a PR last week, and two days ago I got the review. I just made a new PR today hopefully this one will satisfy all the requirements.

[2019-07-20 08:30] lloan commented on #1
@rvilleda851 Let me get some input from @tonynguyen111997 @johnathantng and @VelazquezLuis - guys, can we figure out how to break up documentation? As in figure out which pages under docs need to be updated? Thanks!

[2019-07-20 21:51] Holyoke commented on #21
@dsacosta hey David, I'm currently blocked on CSS. I have setup the React code, so everything is working. The only thing left is styling it correctly. Here's how it look at the moment

![image](https://user-images.githubusercontent.com/6300995/61584505-b1ec1e00-aafd-11e9-9665-93ea0fa11142.png)

My work can be seen here at this branch
https://github.com/Holyoke/main/tree/events-jason

[2019-07-20 23:38] rvilleda851 commented on #1
@lloan  ok

[2019-07-20 23:42] dsacosta commented on #21
@VelazquezLuis Can you help Jason with this?

[2019-07-21 00:34] SJT1988 commented on #54
Oh, here we go:
[SpencerTrumbore.zip](https://github.com/inland-empire-software-development/main/files/3414108/SpencerTrumbore.zip)

[2019-07-21 00:54] VelazquezLuis commented on #21
spoke with him today, @Holyoke , if you need any more help let me know.

[2019-07-21 01:36] #41 closed

[2019-07-21 01:38] #46 closed

[2019-07-21 01:39] lloan commented on #33
@rurru Is there anything else we need to do for this issue? Do I need to add new fields? Thanks!

[2019-07-21 01:40] #28 closed

[2019-07-21 01:42] lloan commented on #54
@amacbain1 How's it going with procuring the images? Need any help? Thanks!

[2019-07-21 02:08] SJT1988 commented on #54
I just sent some new pictures to Amber on Github today because she was
requesting them (see "Issues"). I was keeping a lookout for that email from
you with the pics you had but I never got them, I figured you were just
working on some thing else. I can find/make new images based on the style
guide if that's OK with you?

--Spencer

On Sat, Jul 20, 2019, 6:42 PM lloan alas <notifications@github.com

[2019-07-21 02:09] SJT1988 commented on #54
*Issues #54

On Sat, Jul 20, 2019, 7:08 PM Spencer Trumbore <strumbore88@gmail.com>
wrote:

[2019-07-21 02:12] SJT1988 commented on #54
I must be losing my mind because I thought I was sending an email @.@

[2019-07-21 02:40] rurru commented on #33
Nope, not unless there are any other fields we need to support for future versions.  The API as is provides all the information specified in the blog post component.

[2019-07-22 01:51] tonynguyen111997 opened #61 "BugFix: Sponsors items need a key prop"
This issue is being open because of the warning "Each child in a list should have a unique "key" prop.". This issue is related to React, but you don't need to know React entirely to fix it.

If you pick this up, I'd recommend looking into the for loop `map`, and see how to get a unique value from it. Then, I'd look into how React components can be created dynamically with a loop.

The reason I say

[2019-07-22 09:22] tonynguyen111997 commented on #8
Looks like some issues were fixed in PR #57 . I'm going to go ahead and close this. Reopen if needed.

[2019-07-22 09:22] #8 closed

[2019-07-22 09:23] tonynguyen111997 commented on #33
Since the current API currently provides all the information needed, should we go ahead and close this issue?

[2019-07-22 09:24] tonynguyen111997 commented on #31
Felipe's and Amy's stories have been added.

[2019-07-22 16:23] lloan commented on #33
@tonynguyen111997 makes sense. I'll go ahead and close it.

[2019-07-22 16:24] #33 closed

[2019-07-22 23:15] tonynguyen111997 commented on #61
This issue has been moved to completed, so I'm going to close it.

[2019-07-22 23:15] #61 closed

[2019-07-23 22:00] lloan commented on #17
@chrispierrelouis26 Hey Chris! Can I start testing this one? Let me know boss!

[2019-07-24 01:41] chrispierrelouis26 commented on #17
Hey lloan ! The only issues i'm currently having is with media queries for the mobile view. I meant to ask about it at the meet up but i got carried away!

[2019-07-24 09:54] lloan commented on #16
@rurru tried this out locally, this is what I see, wonder if your css is being overriden.

![image](https://user-images.githubusercontent.com/3924990/61784299-53a19280-adbe-11e9-809a-4b4358f1c7b3.png)

[2019-07-24 16:28] rurru commented on #16
@lloan Looks like it might be.  Should be easy to fix if that's the case--I'll check it out when I get home this afternoon.

[2019-07-25 03:03] rurru commented on #16
@lloan Pretty sure I've figured out what's going on.  It has to do with having multiple swipers on one page--some of it is CSS conflicts, and some of it is the swiper object settings.  It looks like new swipers may inherit the properties of older ones if they aren't set in the new swiper.  Which would end up in some odd display results.  Tougher part will be tracking down those conflicts, but I sh

[2019-07-26 01:28] amacbain1 commented on #54
Thanks @SJT1988! I'll get you on there soon, I promise :)

[2019-07-26 01:37] amacbain1 opened #71 "Leadership: Adjust layout & update swiper"

[2019-07-27 16:45] tonynguyen111997 opened #72 "Improve performance of website"
As of July 27th the performance score (according to Google's Lighthouse tool) is a 20 out of 100. I'm sure that as we continue to add more content to the website it will continue to get slower.

![image](https://user-images.githubusercontent.com/36907562/61997195-f83c0280-b052-11e9-9fd0-4464770346c8.png)

Things to consider:
- Lazy loading for images that are offscreen.
- Make sure images are prop

[2019-07-28 06:42] SJT1988 commented on #54
If it will work better to have an image without the background, I have it:
![SpencerTrumbore512](https://user-images.githubusercontent.com/41922761/62003193-2e679980-b0c8-11e9-9d86-0ffb1609379d.png)
![SpencerTrumbore256](https://user-images.githubusercontent.com/41922761/62003194-36273e00-b0c8-11e9-883b-d9f0521b87f5.png)

[2019-07-28 06:47] SJT1988 commented on #54
Looks like it might be more consistent for you to have a picture of me with a solid background. I don't know how you made the other photos so here is the cutout version of me. You can load it in Photoshop and put whatever kind of background or overlay you need in it. WARNING: it looks terrible on its own with the transparency because Chrome does not seem to support variance in alpha channels--eith

[2019-07-28 16:20] amacbain1 commented on #54
Thanks @SJT1988, I will update. @lloan, yes, please, I still need photos, plus Vast (I'll hit him up on Slack) and the previous week's speaker. Apparently people ignore random strangers asking for personal photos, lol. All other issues with this component will (optimistically) be completed today.

[2019-07-30 10:39] johnathantng commented on #48
Component has been merged to dev - closing this issue.

[2019-07-30 10:41] johnathantng commented on #18
I believe this component has been merged to dev - closing this issue.

[2019-07-30 10:41] #18 closed

[2019-07-30 10:43] johnathantng commented on #6
Component has been merged - closing this issue.

[2019-07-30 10:43] #6 closed

[2019-07-30 10:44] johnathantng commented on #7
Component has been merged - closing this issue.

[2019-07-30 10:44] #7 closed

[2019-07-31 03:24] lloan commented on #17
@chrispierrelouis26 still having issues with media queries?

[2019-07-31 03:57] chrispierrelouis26 commented on #17
Yes, I still cant seem to get my buttons to stack along side each other
when i add my media queries

On Tue, Jul 30, 2019 at 8:24 PM lloan alas <notifications@github.com> wrote:

[2019-07-31 04:00] lloan commented on #17
Oh okay, when you get a second, push whatever you have and I can take a look.

[2019-07-31 04:02] chrispierrelouis26 commented on #17
Just pushed

On Tue, Jul 30, 2019 at 21:00 lloan alas <notifications@github.com> wrote:

[2019-08-08 07:48] sstylianides commented on #72
hi @tonynguyen111997 . I just did the lighthouse test and I think I can handle a lot of these performance issues.  Can you assign this issue to me?

[2019-08-09 05:26] lloan commented on #71
This has been resolved. Thank you @amacbain1!

[2019-08-09 05:26] #71 closed

[2019-08-09 05:26] lloan commented on #20
Merged

[2019-08-09 05:26] #20 closed

[2019-08-09 05:26] lloan commented on #19
Merged

[2019-08-09 05:26] #19 closed

[2019-08-09 05:27] lloan commented on #23
Merged

[2019-08-09 05:27] #23 closed

[2019-08-09 05:28] lloan commented on #12
@ulisesgomez120 if you're interested in working on something, we need a modal for the sponsorship component that @chrispierrelouis26 just finished. I'll be opening an issue shortly. This has been merged. Closing issue.

[2019-08-09 05:28] #12 closed

[2019-08-09 05:28] lloan commented on #16
Awesome job @rurru its working just fine on my end. Thanks! Merged - closing issue.

[2019-08-09 05:28] #16 closed

[2019-08-09 05:29] lloan commented on #21
Hey @Holyoke - how's it going with this component, any blockers?

[2019-08-09 05:34] lloan commented on #72
@sstylianides can you, for the sake of documentation, please list the items you'd be working on? That way I can add or prioritize. A big part of the effort will be optimizing these images (600k to 15k, example). Converting images that SHOULD be jpgs from pngs. If you have Photoshop, you can set the res to something like 60 on a JPG and it should still be decent.

[2019-08-09 15:39] ulisesgomez120 commented on #12
Hello, spoke with Luis and he said it'd be okay if I worked on it.

On Thu, Aug 8, 2019, 10:28 PM lloan alas <notifications@github.com> wrote:

[2019-08-09 17:05] Holyoke commented on #21
Sorry, I haven't been working with on the component lately, but this weekend I will.

last it stands the swiper version is being worked on - I have a basic way of implementing it based off Luis and Robin's work on their components, so I will be basing the mobile version off that.

I hope to get the mobile version done soon, but the normal desktop version should be working with this branch, and tha

[2019-08-09 19:23] sstylianides commented on #72
@lloan I can definitely do the picture conversions... there is also a few other things that the lighthouse test pointed out that I can do.

1. Remove Unused CSS
2. The page does not contain a heading, skip link, or landmark region
3. Document doesn't have a <title> element
4. <frame> or <iframe> elements do not have a title
5. Image elements do not have [alt] attributes
6. Internationalization and

[2019-08-10 09:04] lloan opened #76 "Component: Modal"
We need a modal component to open up on the screen for different purposes. It can be fixed, dead center and only take up the space required by the contents within it. We also need to make sure that whatever we drop in, like an iframe or any content is also centered.

Example use case: We will be using this for the sponsorship component - we will be dropping in an iframe for donation payments via W

[2019-08-10 15:27] ulisesgomez120 commented on #76
I'd like to work on this

[2019-08-10 16:23] lloan commented on #17
@chrispierrelouis26 awesome job! Thanks for working on this.

[2019-08-10 16:23] #17 closed

[2019-08-28 17:26] erik-sandoval opened #81 "404 loads on some pictures and http request over https throws console error."
When the site loads it throws this console error.

![Screen Shot 2019-08-28 at 10 19 02 AM](https://user-images.githubusercontent.com/48698089/63878349-4871f180-c97e-11e9-9161-488974811c3a.png)

[2019-08-28 17:39] VelazquezLuis opened #82 "Connection is not secure- site info"
the site info the the top left where the lock is located is not green. Says parts of site is not secure, such as images.  I found this https://stackoverflow.com/questions/34273230/firefox-some-parts-of-this-page-are-not-secure-such-as-images-what-counts-a and we might have issues either regarding maps or some other external image we are referencing  without the https at the beginning.

![image](ht

[2019-08-29 18:07] abowler2 opened #84 "Success Stories does not have link to view full post"
The Success Stories section displays the excerpt but does not have a link to view the complete post.

[2019-09-20 19:58] VelazquezLuis opened #87 "add new crew member to our websites EG david acosta"
**Components that require updating:**
- operations

**Tech to be used:**
- wp-api (api.iesd.com)

**What is the current behavior:** David Acosta, Project Manager, is missing from the operations team list.

**What is the new behavior:** David Acosta should show up on the operations list.

**Submission information [For PR]**:

All Submissions:
- The commit message follows our guidelines
- Testing st

[2019-09-21 06:38] tonynguyen111997 commented on #87
Great issue, Luis. I can do that if nobody is planning to.

[2019-11-03 01:38] Andymendez100 opened #95 "Slider component is not intuitive - users don't know to swipe or slide"
**Components that require updating:**
- speakers
- operations
- community
- success stories

**Tech to be used:**
- React

**What is the current behavior:** Sliders are currently not intuitive. Users don't know if they can slide left or right. We currently have some text that talks about being able to slide, but we can do better.

![image](https://user-images.githubusercontent.com/3924990/68253599

[2019-11-04 10:33] lloan commented on #84
@abowler2 I think this was addressed with the new version of the site. Can you verify? Thanks!

[2019-11-04 10:35] lloan commented on #76
Closing this task. New version of site now has modal component. But we have several places that need to implement the new version of the modal. Donation section included, which didn't make it part to the latest release of the site.

[2019-11-04 10:35] #76 closed

[2019-11-04 16:07] abowler2 commented on #84
Yep, it is now fixed with the new site.  I will close this issue.

[2019-11-04 16:07] #84 closed

[2019-11-04 17:28] lloan opened #101 "Pull mission and goal information from IESD API"
**Components that require updating:**
- [x] mission
- [x] goal

**Tech to be used:**
- Axios

**What is the current behavior:** As of right now, the data is hard-coded in to the code. It requires pushing up to GitHub and then Jenkins triggers a deploy.

**What is the new behavior:** The mission and goal component should pull its data from the IESD API so that in the future, anyone on the OPs team

[2019-11-05 00:33] Andymendez100 opened #103 "Make menu links that leave page open on new tab"
Components that require updating:

nav
Tech to be used:
Next.js

What is the current behavior: As of right now, the nav items (EVENTS AND JOIN) just redirect you to the meetup page

What is the new behavior: Make them open a new tab when they are clicked in both mobile and desktop.

Submission information [For PR]:

All Submissions:

The commit message follows our guidelines
Testing steps have bee

[2019-11-05 01:35] Andymendez100 opened #105 "Mobile menu items with children not opening"
**Components that require updating:**
- Nav

**Tech to be used:**
- NextJS (React)

**What is the current behavior:** As of right now, mobile menu items with children do not open on touch. This bug is affecting the **about** and **organization** list items. While there, also adding padding to the "+" icon so that its a bit farther from the text, maybe 5-10px away from the left side.

![image](http

[2019-11-05 01:40] Andymendez100 opened #106 "Fix eslint errors"
**Components that require updating:**
- all

**Tech to be used:**
- ESLint

**What is the current behavior:** Several errors are showing up because of formatting errors.

**What is the new behavior:** Make sure all ESLint errors are addressed and that the compiler doesn't show linting errors.

**Submission information [For PR]**:

All Submissions:
- The commit message follows our guidelines
- Test

[2019-11-05 01:50] Andymendez100 opened #107 "External links should be distinguishable from internal links"
**Components that require updating:**
- Global script for all links

**Tech to be used:**
- JS

**What is the current behavior:** As of right now, external links and internal links are not distinguishable.

**What is the new behavior:**  All external links within the content should have an icon that lets the user know they will be going outside of the IESD network when hovered. Icon should only be

[2019-11-05 02:41] #103 closed

[2019-11-05 19:35] lloan commented on #107
Thanks for opening this @Andymendez100 !

This one is up for grabs.

[2019-11-05 20:51] ulisesgomez120 commented on #76
Hey Lloan,

Yea I'd love to work on implementing some of those. I'll check out the open
issues.

On Mon, Nov 4, 2019, 2:35 AM lloan alas <notifications@github.com> wrote:

[2019-11-05 22:35] lloan commented on #101
This has been resolved.

[2019-11-05 22:35] #101 closed

[2019-11-05 22:39] lloan commented on #82
@VelazquezLuis @tonynguyen111997 @Andymendez100 @dhuan008 @dsacosta @JasonEb

Is this still an issue, can someone verify this?

[2019-11-05 22:41] lloan commented on #31
In the future, we can create an issue to ADD success stories in the https://github.com/inland-empire-software-development/wp-api repository. Closing this down as the component is on its second iteration, has been deployed and success stories have been added.

[2019-11-05 22:41] #31 closed

[2019-11-05 23:10] lloan commented on #35
@VelazquezLuis @tonynguyen111997 Can we revisit this? What is the use for this?

[2019-11-05 23:16] lloan commented on #50
@tonynguyen111997 is this still an issue? What is the benefit we gain from fixing this if its a verbose warning from the console? Should we only address real warnings and errors or also verbose warnings?

[2019-11-05 23:19] tonynguyen111997 commented on #35
This would just be for error handling. The use for this would be for when the API fails, we can have our components gracefully fail. That way when the API isn't working, some sort of feedback can be displayed, rather than nothing appearing or the website crashing.

[2019-11-05 23:34] lloan commented on #81
@erik-sandoval can you check and verify this issue? If its no longer occuring, can you go ahead and close the issue? We just launched v2 of the site, want to make sure this was addressed. Thanks!

[2019-11-05 23:37] lloan commented on #54
@amacbain1 I reached out on Slack to speakers missing images. Will update this once we get these missing images.

[2019-11-05 23:46] lloan commented on #72
@tonynguyen111997  @sstylianides  is this still active? Can we take a look at the new version, create a new list and then figure out who will work on it? Thanks!

@dsacosta

[2019-11-05 23:57] VelazquezLuis commented on #50
I Like the map but a Picture of the entrance Is a Great thing to add

[2019-11-05 23:59] lloan commented on #72
@tonynguyen111997 once you get the overarching list of what needs to be done, break it out in to smaller actionable tasks using the template we're using for newer tasks. We need to make sure these issues are organized so that new contributors have an easier time jumping in.

Thanks!

[2019-11-06 00:25] erik-sandoval opened #109 "Mobile view nav drawer menu About and Organization do not do anything."
When I click on it, it does not respond.

[2019-11-06 01:09] lloan commented on #109
Thanks for reporting @erik-sandoval !

Closing this one as its a duplicate of #105

Take a look at it in case you want to work on it :)

[2019-11-06 01:09] #109 closed

[2019-11-06 01:20] tonynguyen111997 commented on #50
I like the map as well, and I agree that a picture of the entrance may be helpful. Not sure where it would fit in our current design, but if we can add a picture that would be great. This issue can be closed, as it doesn't look like it's appearing anymore. Plus, I guess there isn't really a benefit from fixing it, since it's just a warning.

@lloan If it's fine with you, I'm going to close this is

[2019-11-06 01:23] lloan commented on #81
Closing out. Received confirmation via Slack that this is no longer occurring. Thanks @erik-sandoval

[2019-11-06 01:23] #81 closed

[2019-11-06 01:26] tonynguyen111997 commented on #82
The website is showing up as secure for me on both Chrome and Internet Explorer. If we can get one more person to verify, I think it's safe to close this issue.

[2019-11-06 01:26] tonynguyen111997 commented on #95
Issue is up for grabs

[2019-11-06 02:44] VelazquezLuis commented on #82
Yeah it's fine now will close.

[2019-11-06 02:44] #82 closed

[2019-11-06 02:46] VelazquezLuis commented on #50
NO issue found close it @tonynguyen111997

[2019-11-06 03:19] lloan commented on #107
@erik-sandoval here is an example of what I'm talking about: https://www.esri.com/about/newsroom/press-coverage/

Go to the link above and hover over one of the cards 'read this article' link. You will see that the icon shows up on the right side. We can utilize the same icon. We can pull in the SVG and then apply it globally to all links who's `href` do not include `iesd.com` within them - those

[2019-11-06 04:58] erik-sandoval commented on #107
on it!

[2019-11-06 16:49] VelazquezLuis commented on #95
will see what I can do.
@lloan  is it safe to assume we branch off master?

[2019-11-06 19:51] lloan commented on #95
Yes, thatd be the way to go

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Luis J. Velazquez <notifications@github.com>
Sent: Wednesday, November 6, 2019 8:49:30 AM
To: inland-empire-software-development/main <main@noreply.github.com>
Cc: lloan alas <lloanalas@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [inland-empire-software-developmen

[2019-11-07 02:04] jenlatchman opened #112 "Convert current speaker form to Google form"
Per Lloan, so that it can be added to the site

https://docs.google.com/document/d/1mSqbeNSfP83vv-tDY0ZMyM_aZmPrUvCJn2vJHxFUYGM/edit

[2019-11-07 03:09] dsacosta commented on #112
@jenlatchman @lloan https://docs.google.com/forms/d/e/1FAIpQLSfXnBkkdrq5dfaRk_9y3kMp2CIgvpcVYVTrzsSSg-lKNaUd2g/viewform

[2019-11-07 03:10] Andymendez100 opened #113 "Error handling on sponsors component"
There is some error handling but it was just an afterthought. @lloan

[2019-11-08 01:07] lloan commented on #35
@tonynguyen111997 at the moment, if we don't get anything back, we display a piece of text that says we were unable to provide them with the requested data. Perhaps we can convert that in to a component that takes in text we want to provide. That component can be styled and reused. So that users know that when they see that, its an API failure, etc. Is this what we're trying to do pretty much?

[2019-11-08 01:08] lloan commented on #48
@johnathantng any way you can recover this from the old version and incorporate in to the new version of the site?

[2019-11-10 09:50] Andymendez100 opened #114 "Upgrade packages for project"
Components that require updating:
- package.json
- packages that need updating

Tech to be used:
- yarn

What is the current behavior: We are on an outdated version of next.js - this new version includes a lot of upgrades we can benefit from. All packages should be updated.

What is the new behavior: We are on the latest version of next.js - all packages have been updated.

Submission information

[2019-11-11 01:52] Andymendez100 commented on #107
@erik-sandoval How is this issue coming along?

[2019-11-11 15:44] lloan commented on #95
@VelazquezLuis looks great so far!

Just a few notes from what I saw:

Let's add some spacing at the bottom of the speakers component, below the slider. I'd say have it push the the success stories component up to the red line below:

![image](https://user-images.githubusercontent.com/3924990/68599942-6536a500-0456-11ea-84f8-71feb1085ff0.png)

For the success stories component, let's make sure tha

[2019-11-11 19:29] lloan commented on #106
Closing - this has been addressed and fix pushed to master.

[2019-11-11 19:29] #106 closed

[2019-11-11 22:54] VelazquezLuis commented on #95
Ready to be reviewed once more. Fixed changes from above.
also need input, if ccs changes on _story.scss were made correctly.

[2019-11-13 00:42] abowler2 commented on #105
Put up a PR a little bit ago addressing this:
https://github.com/inland-empire-software-development/main/pull/117

[2019-11-13 02:17] lloan commented on #105
@abowler2 I applied it to DEV - it fixes the issue with children not showing up for list items that have them. Awesome! Now there is another issue that could be fixed within this same opened issue. Could you perhaps make it so that when you click on a nav item on mobile the menu disappears? Kind of an odd experience for the page to navigate to where the user wants to go and have the navigation sti

[2019-11-13 02:24] tonynguyen111997 opened #118 "Mobile nav should close on menu item click"
**Components that require updating:**
- Nav

**Tech to be used:**
- React

**What is the current behavior:**
On mobile screens, when you click a nav item it will scroll down to its destination, but the nav menu will still be open. This leads to bad UX, because the user is forced to click off the nav in order to close the nav.

**What is the new behavior:**
On mobile, the nav should automatically c

[2019-11-13 15:36] abowler2 commented on #105
Sure, I'll work on that.

I saw that Tony put in a new issue for it, so I'll comment over there as well.

[2019-11-13 15:37] abowler2 commented on #118
Hey Tony ~ I'll work on this one.

[2019-11-13 15:41] lloan commented on #105
Sounds good! I'll go ahead and merge your fix for the nav on to master and close the issue here. Thanks for working on this!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: April Bowler <notifications@github.com>
Sent: Wednesday, November 13, 2019 7:36:43 AM
To: inland-empire-software-development/main <main@noreply.github.com>
Cc: lloan alas <lloanalas@outlo

[2019-11-13 21:47] lloan commented on #105
@abowler2 this has been merged to master - thanks!

[2019-11-13 21:47] #105 closed

[2019-11-13 22:31] abowler2 commented on #118
See submitted pull request for my solution to this issue: https://github.com/inland-empire-software-development/main/pull/120

[2019-11-14 21:40] lloan commented on #118
Completed - thanks @abowler2 !

[2019-11-14 21:40] #118 closed

[2019-11-14 21:41] lloan commented on #95
Thanks @VelazquezLuis  - PR has been merged.

[2019-11-14 21:41] #95 closed

[2019-11-14 22:28] lloan commented on #114
@Andymendez100 went ahead and groomed this - looks good now. Will go ahead and most likely work on this myself. I think I might want to start using Typescript so we all get more experience with that.

[2019-11-14 22:38] #50 closed

[2019-11-14 22:44] lloan commented on #114
**Old version of packages:**
"@zeit/next-css": "^1.0.1",
"@zeit/next-sass": "^1.0.1",
"abortcontroller-polyfill": "^1.3.0",
"apollo-boost": "^0.4.4",
"axios": "^0.19.0",
"compass": "^0.1.1",
"dotenv": "^8.0.0",
"express": "^4.17.1",
"graphql": "^14.5.8",
"isomorphic-unfetch": "^3.0.0",
"lodash.debounce": "^4.0.8",
"moment": "^2.24.0",
"next": "^8.1.0",
"next-images": "^1.1.1",
"next-seo": "^1.11.2

[2019-11-16 09:03] lloan commented on #114
Couple of notes:

This required that I upgraded the node version on the VPS that hosts our sites. We also had to change the jenkins job (script) that is triggered when we update the branches on GitHub (master, staging, dev) - went ahead and added new scripts as well [development, staging, production].

[2019-11-16 10:12] lloan commented on #114
Merged - dev -> staging -> prd

[2019-11-16 10:12] #114 closed

[2019-11-16 10:15] lloan opened #128 "Regression - Navigation items not working."
Components that require updating:
- Nav

Tech to be used:
- React

What is the current behavior: Navigation toggles the drawer on desktop, should only work on mobile items.

What is the new behavior: Navigation works like expected - desktop version doesn't toggle the offCanvas.

[2019-11-16 23:23] lloan commented on #128
This has been addressed with a hotfix.

[2019-11-16 23:23] #128 closed

[2019-11-17 02:36] tonynguyen111997 opened #132 "Add a way to reach our social medias"
**Components that require updating:**
- New component

**Tech to be used:**
- React

**What is the current behavior:**
Currently, when a user visits the IESD website there is no way for them to reach our social medias.

**What is the new behavior:**
Ideas:
- Add new menu items to the navbar that takes user to our social medias
- A side nav that contains just our social medias, like this:

![image]

[2019-11-17 20:02] tonynguyen111997 commented on #132
@lloan Do you know if this is something we should allow the assignee to decide on how it should be implemented, or is there a specific way you want this done?

[2019-11-18 22:54] lloan commented on #48
Handled by #135 - new Loader component.

[2019-11-18 22:54] #48 closed

[2019-11-18 23:01] lloan commented on #113
Duplicate of #35 - closing in favor of other issue.

[2019-11-18 23:01] #113 closed

[2019-11-18 23:02] lloan commented on #35
Let's make sure we address error handling in sponsors component and all components alike (that issue was closed)

[2019-11-19 02:21] lloan commented on #87
@VelazquezLuis @tonynguyen111997 can we check in with @dsacosta and see if this is still a valid issue?

[2019-11-19 02:41] lloan opened #136 "Update community images within API Dashboard"
**Components that require updating:**
- IESD API (wp-api from the dashboard -> api.iesd.com)

**Tech to be used:**
- WordPress
- GraphQL

What is the current behavior: The current list of images are old.

What is the new behavior: We have our most recent images loaded in to the community component with all relevant information.

**Instructions:**

You need to get access to the API dashboard. This

[2019-11-19 08:18] jenlatchman opened #137 "Add support for Safari"
Margin needed in the success story component
![Screen Shot 2019-11-18 at 11 30 01 PM](https://user-images.githubusercontent.com/57469292/69128793-ed720700-0a61-11ea-9fbd-e7092b747938.png)

[2019-11-20 07:10] chriscastaneda opened #138 "Archived Directory Page"
Ideas to create a archived directory page for past events for members who could not attend to review in there spare time.
Including:
-Presentation/Live stream
-Materials needed
-Example of final product for reference

@lloan

[2019-11-20 17:34] abowler2 commented on #137
I was not able to reproduce this on my Macbook or iPhone.  Can you check to see if it is still happening for you?

[2019-11-20 18:07] lloan commented on #138
@chriscastaneda this sounds like a great idea. Meetup.com offers a list of past events, but nothing at a glance like this. This requires a little planning and some design work. Let me think about how we can best set this up and i'll lay out some instructions on what the next steps are.

Thanks!

[2019-11-21 03:06] abowler2 opened #139 "Volunteers nav item is a dead link"
Under the Organization secondary menu the item for Volunteer does not have a path. Maybe it needs to be removed until that section is ready?

[2019-11-21 03:09] abowler2 commented on #137
After talking with Jen tonight, it looks like this is an issue with older versions of Safari. There might be a way to add a separate webkit selector to address this.

[2019-11-25 17:10] VelazquezLuis commented on #139
I will clarify where we are at with that and proceed with the next steps thank you @abowler2 great catch

[2019-11-26 05:08] VelazquezLuis commented on #139
issue has been dealt with accordingly, thank you @abowler2 keep them issues coming

[2019-11-26 05:08] #139 closed

[2019-11-26 05:09] VelazquezLuis commented on #139
FIXED and merged in PULL #141

[2019-11-26 06:03] VelazquezLuis commented on #137
@jenlatchman hey jen can you find out what version of safari you have? and was it when you were full screen?

[2019-11-26 06:10] jenlatchman commented on #137
Version 12.1.1
It fixes once I get to what I think is the mobile size.

[2019-11-26 06:19] VelazquezLuis commented on #136
I am still waiting for the images I saved in your hard drive for you to compress. I can try to do that if needed.

[2019-12-01 05:37] VelazquezLuis opened #142 "add codecademy svg to sponsors"
**Components that require  updating:**

- Sponsors (new sponsor codecademy )

**Tech to be used:**

- React
- next.js

**What is the current behavior: **
has 7 sponsors currently
**What is the new behavior: **
Add an image of our newest sponsor codecademy to our sponsor section.
would be nice to find an svg image.
**Instructions:**
find an svg image of codecademy and concat it to our sponsors sect

[2019-12-02 03:45] VelazquezLuis commented on #142
Done, this has been done through the WP portal

[2019-12-02 03:45] #142 closed

[2019-12-12 05:27] tonynguyen111997 commented on #87
@lloan Yea I think this is still a valid issue. I've been lagging on getting everyone's picture for this issue.

[2019-12-20 21:31] lloan commented on #136
This was already completed - thanks @VelazquezLuis !

[2019-12-20 21:31] #136 closed

[2019-12-20 21:32] lloan commented on #87
No longer a valid issue as David has stepped back for a while.

[2019-12-20 21:32] #87 closed

[2019-12-20 21:33] lloan commented on #54
Looks like we were able to collect a lot more pictures. Will close this one down for now as it was mostly created when we had a lot of placeholders, we're in a good place now.

[2019-12-20 21:33] #54 closed

[2019-12-26 23:34] VelazquezLuis opened #163 "If no event scheduled, don't show HeroEvent component."
Components that require updating:

-  SingleEvent

Tech to be used:

    Next.js

What is the current behavior:
Currently, when there's is no upcoming events nothing appears in the SingleEvent component on the website.

What is the new behavior:
If no upcoming events found, hide component.

image:
![image](https://user-images.githubusercontent.com/35620778/71493617-f7bbb980-27f4-11ea-866c-75d5daad

[2019-12-26 23:35] lloan commented on #163
I like that idea, that would be awesome. Thanks!

[2019-12-30 19:07] VelazquezLuis commented on #163
need ideas on What action is taken when there's no upcoming events

[2019-12-30 19:11] lloan commented on #163
Hiding the component (not rendering) seems like the appropriate action here. Great suggestion @VelazquezLuis  - thanks!

[2019-12-31 05:58] VelazquezLuis commented on #163
Made Branch event-backup to work off of. and committed my initial solution. please review if correct or on the right path. thanks

[2020-01-06 21:46] tonynguyen111997 opened #166 "Update colors for mentorship banner"
**Components that require updating:**
- Mentorship banner at the top of the website

![image](https://user-images.githubusercontent.com/36907562/71850653-aa0f3e80-3089-11ea-9fc8-838611b8bc39.png)

**Tech to be used:**
- React
- CSS
- SASS/SCSS

**What is the current behavior:**
Currently, the banner uses these colors:
- #F1AF21
- #EC2242
- #000000
- #FFFFFF (when link is highlighted)

These colors

[2020-01-06 21:47] tonynguyen111997 commented on #166
@lloan Do you know if we want to let the assignee decide the colors, or did you have a set of colors in mind?

[2020-01-16 15:37] hotRedPanda1 opened #168 "Create a Blog page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I like reading through blogs related to work-life in the tech industry.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
(1) There should be various articles posted after a severe review and

[2020-01-17 22:13] davidnmora opened #167 "Blank screen after submitting google form"
Quick q: just submitted two google forms on the website (volunteer and talk), and just to double-check, it’s normal to get a blank screen after hitting submit? Or should I resubmit?

[2020-01-18 01:33] abowler2 commented on #167
I think it is a Google forms thing.  It switches to the confirmation page, but does not scroll back to the top so the confirmation is hiding at the top of the screen.

[2020-01-19 00:20] lloan commented on #168
Transferred issue to main repository for www.iesd.com site.

[2020-01-21 05:51] #167 closed

[2020-02-13 03:18] DonavonCai commented on #166
@tonynguyen111997 I'm going to try to work on this issue, I'll try to have it done by Monday, January 17.

[2020-02-16 18:28] #166 closed

[2020-02-27 03:28] jciaccio opened #174 "Catalog live streams"
Create a section of the site to link live stream presentations. Organize the links so it is easy to find based on topic.

[2020-03-22 04:13] tonynguyen111997 opened #175 "Text bleeds out of hero event"
**Components that require updating:**

- Hero Event (SingleEvent.js)

**Tech to be used:**

- CSS
- React

**What is the current behavior:**
Font bleeds out of container because event title is too long.

![image](https://user-images.githubusercontent.com/36907562/77242078-f7467b00-6bb7-11ea-87f3-8e609c6b5560.png)

**What is the new behavior:**
Ideas:

- Lower font-size when text is certain length.

[2020-03-24 17:56] ldaws003 commented on #175
Hi, I'll fix it.

[2020-03-24 18:02] lloan commented on #175
Thanks!

[2020-03-28 21:39] ldaws003 opened #177 "Overflow of Newsroom events on mobile"
**Components that require updating:**

- Blog.js

**Tech to be used:**

- CSS
- React

**What is the current behavior:**
The Newsroom section causes the front page to not fit on mobile.

![0D76C116-3D46-4E36-AD19-E64A5D5A59AA](https://user-images.githubusercontent.com/41959451/77834321-1afe4980-7101-11ea-8f1f-57b92401f8d9.png)
![FEB6C6C5-1F7F-46C9-B809-7FCD8C9194BA](https://user-images.githubuserc

[2020-04-05 03:30] HeyItsFelipe commented on #177
Hello @ldaws003 !  I'm unable to replicate.  Can you specify device or browser width?

[2020-04-05 20:40] ldaws003 commented on #177
Hi @HeyItsFelipe . It's on an iphone. It's done by scrolling on the screen while not touching the newsroom itself.

[2020-05-05 23:16] blueocto commented on #72
Hey all, I'd love to help with this, have forked and followed your docs, however, when running `yarn dev` it's giving me an error. (see attached)
[consolelog.txt](https://github.com/inland-empire-software-development/main/files/4584112/consolelog.txt)

[2020-05-22 02:14] HeyItsFelipe opened #180 "Overflow of Blog component needs revision. (layout breaking)"
On mobile, the main content is squished.  See image below.
Element with class uk-slider uk-slider-container needs the overflow: unset !important css revised.

![Screen Shot 2020-05-21 at 7 06 31 PM](https://user-images.githubusercontent.com/12819928/82624253-ee156280-9b96-11ea-8578-1e189959e4b8.png)

Test on mobile/tablet/desktop sizes.

[2020-05-22 02:17] kvera001 opened #181 "Redesign Proposal"

[2020-05-22 02:18] #181 closed

[2020-05-22 02:24] kvera001 opened #182 "Redesign Home page"
Redesign home page to reflect our mission and value statement. @lloan Please provide more details.

[2020-05-22 02:32] kvera001 opened #183 "Reword Text on Site"
Current operations team would like to make text/wording more user friendly. @lloan

[2020-05-22 02:45] lloan commented on #1
Closing because this application will be rebuilt in the near future. That application will require a team member to document as the team builds.

[2020-05-22 02:45] #1 closed

[2020-05-22 02:45] lloan commented on #21
Closing because this is no longer needed.

[2020-05-22 02:45] #21 closed

[2020-05-22 02:46] lloan commented on #35
Closing because this is no longer needed.

[2020-05-22 02:46] #35 closed

[2020-05-22 02:48] lloan commented on #72
Hi @blueocto, it looks like we're going to be rebuilding this application. We have a new issue and will be updating it shortly. We will be posting more issues that are going to be up for grabs and would love the help. Thanks a ton!

[2020-05-22 02:48] #72 closed

[2020-05-22 02:49] lloan commented on #107
Closing because this is no longer needed.

[2020-05-22 02:49] #107 closed

[2020-05-22 02:49] lloan commented on #112
Completed

[2020-05-22 02:49] #112 closed

[2020-05-22 02:50] lloan commented on #132
Closing because this is no longer needed. Redesign in on its way.

[2020-05-22 02:50] #132 closed

[2020-05-22 02:50] lloan commented on #137
Closing because this is no longer needed. Application is being redesigned and this will be addressed.

[2020-05-22 02:50] #137 closed

[2020-05-22 02:53] lloan commented on #138
Adding this concept to the new version of the application. Thanks!

[2020-05-22 02:53] #138 closed

[2020-05-22 02:53] lloan commented on #182
#138 Archived Directory Page

[2020-05-22 02:54] lloan commented on #163
Completed

[2020-05-22 02:54] #163 closed

[2020-05-22 02:54] lloan commented on #182
#168 Create a blog page

[2020-05-22 02:55] lloan commented on #168
Closing - The concept will be added to the new application.

[2020-05-22 02:55] #168 closed

[2020-05-22 02:56] lloan commented on #174
#138 I believe takes care of this (similar concept) - will be adding this to the new application. Thanks for the input!

[2020-05-22 02:56] #174 closed

[2020-05-22 02:56] lloan commented on #175
Closing as #182 will take care of this.

[2020-05-22 02:56] #175 closed

[2020-05-22 02:58] lloan commented on #177
Closing because of the redesign. However, a new issue has been opened to look into this, thank you for reporting this!

[2020-05-22 02:58] #177 closed

[2020-05-22 03:01] lloan commented on #183
@VelazquezLuis @HeyItsFelipe @tonynguyen111997

The text on the main page needs to be revisited. We need to simplify what we're saying for all audiences. As it is right now, it includes a lot of jargon and in some instances, information that is not necessarily useful to our community. We can include a version as we have it (or improved) on a separate page. For now, let's revisit the wording, simpl

[2020-05-22 03:09] lloan commented on #182
@HeyItsFelipe @VelazquezLuis @tonynguyen111997 @kvera001

Please help me come up with a list of features we need for this application (SPA?). Keep in mind #138 and #168, along with any other issues listed below.

This new application should allow us to better serve the community remotely. The current crisis has shown us that virtual meetings are just as successful as in-person meetings. What this

[2020-05-22 19:15] davidnmora commented on #182
Super excited for this!

### As we jump in, I think we can ground ourselves in a few key questions, which we can then derive features from:
1. **Who are the 2 types of people for whom we want the website to provide value for?** (If we want to provide deep value, I think we should really focus on no more than 2 user personas) What does it feel like to be them? Where are they coming from? What needs

[2020-05-23 20:33] HeyItsFelipe commented on #182
@davidnmora Great example site that you posted!

1.  For the two types of people, one would be those who are searching for people to talk to about software development.  These people tend to be new to the field, don't know where to start, or bootcamp grad who don't know how to continue their education, grow their skills, and gain experience.  The second type of people are those who want to give ba

[2020-07-03 02:31] HeyItsFelipe opened #184 "Have newsroom display medium posts"
-Create a IESD medium account
-Copy and paste current newsroom post into IESD medium account
-Replace current posts in newsroom with medium posts

[2020-07-03 02:41] HeyItsFelipe opened #185 "Update mission statement and related sections"
-Replace current mission statement in Our Mission with **Building Communities around Technology**
-Replace About Us section with Our Mission section, but keep About Us text safe as we might need it for later
-Remove the two sections below it, but keep Our Goal text safe as we might need it for later
It should look like this:

![Screen Shot 2020-07-02 at 7 40 31 PM](https://user-images.githubuserco

[2020-07-08 03:30] #180 closed

[2020-07-10 02:26] kvera001 opened #187 "Add new section for Hack Fest"

[2020-07-24 01:58] tonynguyen111997 commented on #184
@HeyItsFelipe I'm still currently working on this. Just for clarification, for "Replace the current posts in newsroom with medium posts" are we looking to replace where the source of information is coming from? For example, right now it's coming from our own API, but for this task are we looking to have it come from Medium?

This looks like it provides a JSON of our medium posts: https://api.rss2j

[2020-07-24 03:00] HeyItsFelipe commented on #184
@tonynguyen111997 Yes, that is correct.  The source should change from our own API to the IESD Medium.  That JSON of our medium posts could be used to display the articles on the IESD page.

[2020-08-07 05:22] VelazquezLuis commented on #185
PR has been merged will close issue

[2020-08-07 05:22] #185 closed